.page__photo-gris {
  margin: 92px 48px 0;
}

@media (max-width: 1023px) {
  .page__photo-gris {
    margin: 88px 24px 0;
  }
}

@media (max-width: 767px) {
  .page__photo-gris {
    margin: 64px 16px 0;
  }
}

